html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  --header-color: black;
  --main-color: Turquoise;
  --main-hover: DarkTurquoise;
}
body {
  margin: 0;
  background-color: #ffffff;
  background-image: url('./whitey.png');
  backgroundposition: 'center';
  width: '100%';
  height: '100%';
}

/* header */

header {
  background-color: var(--main-color);
  margin: 0;
  padding: 20px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  justify-items: center;
  position: relative;
  display: flex;
  gap: 10px;
}
.logo {
  //padding: 5px;
  align-self: center;
}
header h1 {
  margin: 0;
  color: var(--header-color);
  font-family: 'Lilita One', cursive;
  font-weight: 200;
}

/* create area */

.create-note {
  display: flex;
  margin: 0px 16px;
}
.create-note form {
  position: relative;
  width: 480px;
  margin: 36px auto 36px auto;
  background: #ffffff;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.create-note input,
textarea {
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: var(--main-color);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.create-note button:hover {
  background-color: var(--main-hover);
}

/* notes */
.container {
  padding: 0 16px 32px 16px;
  max-width: 1088px;
  margin: 0 auto;
}
.notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  gap: 16px;
  justify-items: center;
}
.note {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 2px 5px #ccc;
  padding: 16px;
  min-height: 170px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note h2 {
  font-size: 1.1em;
  margin: 0;
}
.note p {
  font-size: 1.1em;
  margin: 10px 0;
  //white-space: pre-wrap;
  word-wrap: break-word;
}
.note button {
  position: relative;
  align-self: end;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
.note-content {
  display: flex;
  flex-direction: column;
}
.note-CTA {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* footer */

footer {
  margin: 16px;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: darkgray;
}
